.vscode/**
.vscode-test/**
src/**
snippets
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/tsup.config.ts
**/.eslintrc.json
**/*.map
**/*.ts
assets/logo.ai
assets/demotime.gif
postcss.config.js
tailwind.config.js
webview.config.js
.demo
.github