# Folders
.demo
.github
.vscode
.vscode-test/**
coverage
docs
packages
scripts
snippets
src
tests
examples

# Files
**/.eslintrc.json
.gitignore
.prettierrc.json
.yarnrc
jest.config.js
postcss.config.js
preview.config.js
tailwind.config.js
**/tsconfig.json
**/tsup.config.ts
**/tsup.wc.config.ts
webview.config.js
**/*.ts

# Assets
assets/logo.ai
assets/demotime.gif