---
interface Props {
  filePath: string;
  label?: string;
}

const { filePath, label = "Open samples on GitHub" } = Astro.props;
const baseUrl = "https://github.com/estruyf/demo-time-docs/blob/main/";
const fullUrl = `${baseUrl}${filePath}`;
---

<a
  href={fullUrl}
  target="_blank"
  rel="noopener noreferrer"
  class="inline-flex items-center text-sm font-medium rounded-md"
>
  {label}
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="ml-2 -mr-1 h-4 w-4"
  >
    <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
    <polyline points="15 3 21 3 21 9"></polyline>
    <line x1="10" y1="14" x2="21" y2="3"></line>
  </svg>
</a>
