---

---

<section>
  <h2 class="text-4xl font-bold mb-6">Stress-free live coding</h2>
  <div
    class="flex flex-col items-center gap-6 bg-[var(--sl-color-gray-6)] border border-[var(--sl-color-gray-2)] dark:border-[var(--sl-color-gray-7)] rounded-lg p-2"
  >
    <img
      src="/demotime-pitch.gif"
      alt="Demo Time pitch animation"
      class="rounded-lg w-full max-w-2xl"
    />
  </div>

  <blockquote class="mt-8 opacity-90 text-sm">
    Each action was performed by pressing the right arrow key. No typos, no
    missteps, just flawless, stress-free presentations.
  </blockquote>
</section>
