@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

blockquote {
  p {
    margin-bottom: 0 !important;
  }
}

code {
  color: var(--vscode-textPreformat-foreground);
  background-color: var(--vscode-textPreformat-background);
  padding: 1px 3px;
  border-radius: 4px;
}

pre {
}

pre code {
  padding: 0 !important;
  white-space: pre-wrap;
  background: var(--vscode-editor-background);
}

.slide__layout {
  @apply h-full w-full;
}

.slide__content {
  @apply h-full w-full text-base;

  .slide__content__inner {
    @apply h-full w-full;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 300ms ease-in-out;
}
