name: MAIN Release
on:
  release:
    types:
      - published
  workflow_dispatch:

env:
  VSCODE_EXT_PATH: apps/vscode-extension

jobs:
  build:
    name: 'Build and release'
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ${{ env.VSCODE_EXT_PATH }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/

      - name: Install the dependencies
        run: npm ci

      - name: Linting and testing
        run: npm run lint && npm test

      - name: Verify actions
        run: node .github/scripts/verify-actions.mjs

      - name: Publish
        run: npx @vscode/vsce publish -p ${{ secrets.VSCE_PAT }} --no-dependencies

      - name: Publish to open-vsx.org
        run: npx ovsx publish -p ${{ secrets.OPEN_VSX_PAT }} --no-dependencies
